/* My CSS Normalize */
:root {
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-tab-size: 2;
  -o-tab-size: 2;
     tab-size: 2;
  text-rendering: optimizeLegibility;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* My defaults */
html {
  scroll-behavior: smooth;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  font-family: inherit;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

address {
  font-style: normal;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --container-padding: 20px;
}
@media screen and (min-width: 768px) {
  :root {
    --container-padding: 32px;
  }
}
@media screen and (min-width: 1920px) {
  :root {
    --container-padding: 229px;
  }
}

/* Utility classes */
.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

/*  Common  */
body {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.7777777778;
  scroll-padding-top: 80px;
  color: #fff;
  background-color: #0b1d26;
}

.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1920px) {
  .header .container, .hero .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1920px;
  }
}

.page-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 200px;
  margin-bottom: 200px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 114px;
     -moz-column-gap: 114px;
          column-gap: 114px;
}
.section:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* Links */
.link {
  font-weight: 700;
  font-size: inherit;
  color: currentColor;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.link:hover, .link:focus {
  color: #fbd784;
}

.logo {
  font-family: "Chronicle Display", sans-serif;
  font-weight: 375;
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

/* SVG icons */
.icon, .account-icon {
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

/* Headings */
.section-heading, .hero-heading {
  font-family: "Chronicle Display", sans-serif;
  font-weight: 375;
  font-size: 64px;
  line-height: 1.203125;
}

.hero-heading {
  text-transform: capitalize;
  font-size: 88px;
  line-height: 1.1363636364;
}

.super-heading {
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
  font-size: 18px;
  line-height: 1.2222222222;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.super-heading::before {
  content: "";
  width: 72px;
  height: 2px;
  background-color: currentColor;
  margin-right: 24px;
}

.header {
  background-color: transparent;
  padding-top: 64px;
  padding-bottom: 64px;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.account-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.hero {
  padding-top: 134px;
}

.slider-controls-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-controls-item.current {
  border-right: 1px solid currentColor;
}

.section-text-block {
  position: relative;
  padding: 140px 0 140px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 27px;
}

.text-block-description {
  font-weight: 700;
}

.section-number {
  position: absolute;
  top: 38px;
  left: 0;
  font-weight: 700;
  font-size: 240px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.1);
}

.section-image-block {
  min-width: 566px;
}

.section-image {
  display: block;
}

.text-block-link {
  color: #fbd784;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.text-block-link .read-more-arrow {
  fill: currentColor;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.footer {
  margin-bottom: 120px;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-logo {
  margin-bottom: 24px;
}

.footer-slogan {
  max-width: 310px;
}

.footer-copyright {
  color: rgba(255, 255, 255, 0.5);
  margin-top: auto;
}

.footer-right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 566px;
  margin-left: auto;
}

.footer-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3333333333;
  color: #fbd784;
  margin-bottom: 20px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 16px;
}/*# sourceMappingURL=main.css.map */