/*  Common  */

:root {
	font-family: $primary-font;
	font-size: $primary-font-size;

	scroll-padding-top: 80px; // height of sticky header
	// courtesy of https://css-tricks.com/fixed-headers-on-page-links-and-overlapping-content-oh-my/
}

body {
	color: $contrast;
	background-color: $bg;

	// $gradient-color, $folder, $filename, $extension: webp
	// @include bg-with-overlay(rgba(#eee, 0.5), bg, bg);
	// background-attachment: fixed;
}

.container {
	padding-left: $container-padding;
	padding-right: $container-padding;

	.header &,
	.hero & {
		@media screen and (min-width: $desktop) {
			// --container-padding: 80px;
			padding-left: 80px;
			padding-right: 80px;
		}
	}

	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: $mobile) {
		width: $mobile;
	}
	@media screen and (min-width: $tablet) {
		width: $tablet;
	}
	@media screen and (min-width: $desktop) {
		width: $desktop;
	}
}

.section {
	padding: $section-padding 0;
}

/* Links */

.link,
%link {
	font-weight: 700;
	font-size: inherit;
	color: currentColor;

	@include transition(color);

	&:hover,
	&:focus {
		color: $accent;
	}
}

/* SVG icons */

.icon {
	fill: currentColor;

	@include transition(fill);

	// &:hover,
	// &:focus {
	//   animation: 700ms ease-out forwards pulsing;
	// }
}

/* Headings */

.section-heading {
	font-family: $heading-font;
	font-weight: 600;

	@include fz-lh(64, 77);

	// @include fz-lh(30, 38);

	// @media screen and (min-width: $tablet) {
	// 	@include fz-lh(34, 43);
	// }

	// @media screen and (min-width: $desktop) {
	// 	@include fz-lh(64, 77);
	// }
}

.hero-heading {
	@extend .section-heading;

	text-transform: capitalize;
	@include fz-lh(88, 100);
}

.super-heading {
	font-weight: 800;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: $accent;

	@include fz-lh(18, 22);
	margin-bottom: 12px;

	// @include fz-lh(18, 22);

	// @media screen and (min-width: $tablet) {
	// 	@include fz-lh(22, 27);
	// }

	// @media screen and (min-width: $desktop) {
	// 	@include fz-lh(30, 37);
	// }

	display: flex;
	align-items: center;

	&::before {
		content: "";
		width: 72px;
		height: 2px;
		background-color: currentColor;
		margin-right: 24px;
	}
}

//
