// Fonts
$primary-font: "Gilroy-Bold", sans-serif;
$primary-font-size: 1.125rem; // 18px
$heading-font: "Chronicle Display", sans-serif;

// Colors
$accent: #fbd784;
$contrast: #fff;
$bg: #0b1d26;

// Spacings
$section-padding: 200px;

// Breakpoints

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

:root {
	--container-padding: 20px;

	@media screen and (min-width: $tablet) {
		--container-padding: 32px;
	}
	@media screen and (min-width: $desktop) {
		--container-padding: 229px;
	}
}
$container-padding: var(--container-padding);

// Positioning
$z-header: 1;
$z-backdrop: 10;
$z-section-number: -1;

// Transitions
$transition-duration: 300ms;
$transition-timing-function: ease-out;
